@import '../../../config';

.comment{
  width: 100%;
  color: white;

  margin: 5px 0 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__column{
    flex-grow: 1;
  }

  &__details{
    display: flex;
    
    font-size: 12px;

    color: $fontFade;
  }

  &__username{
    margin-right: 3px;
    font-family:'Jetbrains Mono';
  }

  &__para{
    white-space: pre;
  }

  &__edit{
    font-size: 11px;
    font-weight: 600;

    outline: none;
  }

  &__textarea{
    width: 100%;
    min-height: 100px;

    padding: 5px;

    background-color: transparent;
    border: 1.5px solid $textColor;
  }

  &__buttons{
    display: flex;
  }
}