@import '../../config';

.single-post{
  width: 100%;
  background-color: $backgroundColor;
  min-height: 100vh;

  padding: 80px 0;

  &__container{
    width: 90%;
    margin: auto;

    padding: 20px 20px 30px;

    color: white;
    background-color: $postBackground;
  }
}