.single-post {
  width: 100%;
  background-color: #1A202C;
  min-height: calc(100vh - 70px);
  padding: 40px 0;
}

@media (max-width: 600px) {
  .single-post {
    padding: 20px 0;
  }
}

.single-post__container {
  width: 90%;
  margin: auto;
  padding: 20px 20px 30px;
  color: white;
  background-color: #011627;
}

@media (max-width: 600px) {
  .single-post__container {
    width: 95%;
  }
}
