@import '../../config';

.create{
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: $backgroundColor;

  &__container{
    width: 80%;
    min-height: calc(100vh - 70px);
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form{
    background-color: $postBackground;

    padding: 60px 50px;
  }

  &__input{
    position: relative;

    & input{
      background: transparent;
      border: 1.5px solid $textColor;
      width: clamp(31rem, 2.5vw, 15rem);
      height: 40px;
      
      margin:  0 0 25px 0;

      outline: none;

      color: white;

      font-family: 'Inter';
      font-weight: 400;
      font-size: 14px;

      padding: 0 5px;

      &:focus ~ label,
      &:valid ~ label{
        top: -8px;
        left: 10px;

        background-color: $postBackground;

        padding: 0 3px
      }
    }

    & textarea{
      background: transparent;
      border: 1.5px solid $textColor;
      width: clamp(31rem, 2.5vw, 15rem);

      min-height: 220px;

      margin: 25px 0;

      outline: none;

      color: white;

      font-family: 'Inter';
      font-weight: 400;
      font-size: 14px;

      padding: 5px;

      &:focus ~ label,
      &:valid ~ label{
        top: 15px;
        left: 10px;

        background-color: $postBackground;

        padding: 0 3px
      }

      & ~ label{
        top: 31px
      }

    }
  }

  &__label{
    position: absolute;
    left: 5px;
    top: 10px;

    font-family: 'Jetbrains Mono';
    font-size: 12px;

    color: white;

    transition: 0.5s all ease-in-out
  }
}