@import '../../../config';

.post-form{
  width: 100%;

  margin: 20px 0;
  
  &__container{
    width: 95%;
    margin: auto;
    position: relative;
  }

  &__textarea{
    width: 100%;
    min-height: 100px;
    background-color: transparent;

    border: 1.5px solid $textColor;
    outline: none;

    font-size: 14px;

    padding: 10px 5px;

    &:valid ~ label,
    &:focus ~ label{
      top: -9px;
      left: 15px;

      background-color: $postBackground;

      padding: 1px 3px;
    }
  }

  &__label{
    position: absolute;
    color: $textColor;

    font-family: "Jetbrains Mono";
    font-weight: 700;
    font-size: 13px;

    left: 5px;
    top: 5px;

    transition: 0.5s all ease-in-out

  }
}