.post {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  color: white;
  background-color: #011627;
  font-family: "Inter";
  margin: 20px 0;
}

.post__container {
  width: 95%;
  margin: auto;
  padding: 20px 0;
}

.post__subreddit h1 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Jetbrains Mono";
  color: #4FD1C5;
}

.post__user h3 {
  font-family: "Jetbrains Mono";
  font-size: 12px;
  color: #e0d9d9;
  font-weight: 500;
}

.post__title h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.post__content p {
  color: #e0d9d9;
  white-space: break-spaces;
}
