@import '../../config';

.single-post-content{

  &__container{
    width: 95%;
    margin: auto
  }

  &__post-details{
    margin: 0 0 20px;
  }

  &__subreddit{
    font-family: 'Jetbrains Mono';
    font-weight: 700;
    font-size: $fontSmall;

    color: $textColor
  }

  &__username{
    font-size: 12px;
    font-family: 'Jetbrains Mono';
    font-weight: 500;
    color: $fontFade  
  }

  &__title{
    font-size: $fontLarge;
    font-weight: 700;
    font-family: 'Inter'
  }

  &__para{
    white-space: break-spaces;
  }
}