.single-post-content__container {
  width: 95%;
  margin: auto;
}

.single-post-content__post-details {
  margin: 0 0 20px;
}

.single-post-content__subreddit {
  font-family: 'Jetbrains Mono';
  font-weight: 700;
  font-size: 14px;
  color: #4FD1C5;
}

.single-post-content__username {
  font-size: 12px;
  font-family: 'Jetbrains Mono';
  font-weight: 500;
  color: #e0d9d9;
}

.single-post-content__title {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Inter';
}

.single-post-content__para {
  white-space: break-spaces;
}

.single-post-content__editing {
  margin: 0 0 50px 0;
}

.single-post-content__buttons {
  display: flex;
}

.single-post-content__textarea {
  height: 200px;
  width: 100%;
  background-color: #011627;
  border: 1.5px solid #4FD1C5;
  padding: 5px;
}

.single-post-content__not-editing {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
