@import '../../../config';

.single-post-content{

  &__container{
    width: 95%;
    margin: auto
  }
  &__post-details{
    margin: 0 0 20px;
  }

  &__subreddit{
    font-family: 'Jetbrains Mono';
    font-weight: 700;
    font-size: $fontSmall;

    color: $textColor
  }

  &__username{
    font-size: 12px;
    font-family: 'Jetbrains Mono';
    font-weight: 500;
    color: $fontFade  
  }

  &__title{
    font-size: $fontLarge;
    font-weight: 700;
    font-family: 'Inter'
  }

  &__para{
    white-space: break-spaces;
  }

  &__editing{
    margin: 0 0 50px 0;
  }

  &__buttons{
    display: flex
  }

  &__textarea{
    height: 200px;
    width: 100%;

    background-color: $postBackground;
    border: 1.5px solid $textColor;

    padding: 5px;
  }

  &__not-editing{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}