@import '../../config';

.home{
  width: 100%;
  min-height: calc(100vh - 70px);

  background-color: $backgroundColor;

  &__container{
    width: 85%;
    margin: auto;


    @media (max-width: 800px){
      width: 95%
    }
  }

  &__posts{
    width: 100%;

    padding: 10px 0 20px;
  }

  &__flex{
    display: grid;
    grid-template-columns: 3fr 1.3fr
  }

  &__column{
    flex-grow: 1;
    margin: 0 30px 0 0;
  }
}